port: 8317

# Please fill in the folder location according to your actual situation
auth-dir: "~/.cli-proxy-api"

request-retry: 3

quota-exceeded:
  switch-project: true
  switch-preview-model: true

api-keys:
# Please set the Key yourself, used for client access to the proxy
- "proxypal-server"
